@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .inherit {
      display: inherit;
    }
  }

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
}

*,
*::before,
*::after {
  box-sizing {
    @apply box-border;
  }
}
* {
  margin {
    @apply m-0;
  }
}
body {
  line-height {
    @apply leading-normal;
  }
  min-height {
    @apply min-h-screen;
  }
}
img,
picture,
video,
canvas,
svg {
    display {
        @apply block;
    }
    max-width {
        @apply max-w-full;
    }
}

input,
button,
textarea,
select {
    font {

    }
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
