@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  img,
  picture,
  video,
  canvas,
  svg {
    font: inherit;
  }

  #root,
  #__next {
    isolation: isolate;
  }
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing {
      @apply box-border;
    }
    -webkit-font-smoothing {
      @apply antialiased;
    }
  }
  * {
    margin {
      @apply m-0;
    }
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    line-height {
      @apply leading-normal;
    }
    min-height {
      @apply min-h-screen;
    }
  }
  img,
  picture,
  video,
  canvas,
  svg {
    display {
      @apply block;
    }
    max-width {
      @apply max-w-full;
    }
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap {
      @apply break-words;
    }
  }

  h1 {
    font-size {
      @apply text-5xl;
    }
  }

  ul {
    list-style-type {
      @apply list-disc;
    }
  }
}
